<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRANCH</key>
	<string>$(BRANCH)</string>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>IS_DEVELOPMENT</key>
	<string>$(IS_DEVELOPMENT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.github.pcl-communtiy.PCL.Mac.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pclmac</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
